*{
    padding: 0;
    margin: 0;
}

.fondo__fondo{
    background-color: #ffcd00;
}
/* ---->HEADER<-----  */
.header {
    background-color: #ffcd00;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    
    /* --->NAV BAR<--- */
    .navbar {
    font-family: monospace;
    }
    
    .nav-item {
    background-color: #ffcd00;
    }
    
    .container-fluid {
    background-color: #ffce0b;
    }


/* CONTENIDO */
.seccion__contenido{
    background-color: #ebebeb;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 100%;
}
.seccion__contenido2{
    background-color: #ebebeb;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 100%;
}
.img__local{
    display: flex;
}
.img__local{
    width: 80%
}

/* ---> FOOTER <--- */
.footer{
    background-color: #1d94aa;
    color: rgb(0, 0, 0);
    padding: 1.1rem;
    text-align: center;
}
.footer__flex li{
    display: inline-block;
    justify-content: center;
}
.footer__menu{
    list-style: none;
    text-align: center;
}
.footer__menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer__credito{
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
}

.titulo{
    text-align: center;
    animation-name: mianimacion;
    animation-duration: 20s;
}


@keyframes mianimacion {
    0%{background-color: rgb(252, 247, 0);}

    25%{background-color: rgb(202, 160, 43);}

    50%{background-color: rgb(255, 156, 7);}

    75%{background-color: rgb(185, 70, 24);}

    100%{background-color: rgb(255, 34, 5);}
}

.grid{
    display: grid;

    /* dimensiones explicitas */
    grid-template-rows: 50px 100px;
    grid-template-columns: 1fr 2fr 3fr;
}

.img__local{
    display: flex;
}

/* --->SEGUNDA PARTE DEFINICION DE COLUMNAS<--- */


.border{
    border: 2px solid black;
}

#grilla{
    display: grid;
    grid-template-areas:none;
    grid-template-rows: 760px;
    grid-template-columns: 15% auto 45%;
    grid-column-gap: 20px;
    height: 80vh;
}
